.cart{
    display: flex;
    /* justify-content: end; */
}
.product{
    display: flex;
}
.myImg img{
    height: 291px;
    cursor: pointer;
   
}
.myText{
    width: 27px;
    margin-left: 14px;
    margin-right: 13px;
    text-align: center;
}

.cardSec{
    margin: auto;
    /* display: flex; */
    justify-content: center;
}
